version: "3.9"

services:
  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    env_file:
      - ../env/.env.local
    volumes:
      - ../src:/app/src
    command: python -m app.entrypoints.main
